<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Alejandro Sanchez Ospina">

    <!-- Styles -->
    <environment include="Development">
        <!-- Fontfaces CSS-->
        <link href="~/lib/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="~/lib/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="~/lib/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/font-face.css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <!-- Lib CSS-->
        <link href="~/lib/animsition/animsition.min.css" rel="stylesheet" media="all">

        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/util.css" />
        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/login.css" />

        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/theme.css" />

        <!-- Custom CSS-->
        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/custom.css" />
    </environment>
    <environment exclude="Development">
        <!-- Fontfaces CSS-->
        <link href="~/lib/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="~/lib/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="~/lib/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/font-face.css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <!-- Lib CSS-->
        <link href="~/lib/animsition/animsition.min.css" rel="stylesheet" media="all">

        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/util.css" />
        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/login.css" />

        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/theme.css" />

        <!-- Custom CSS-->
        <link rel="stylesheet" type="text/css" href="~/assets/css/custom/custom.css" />
    </environment>

</head>