@model TravelExpenses.Web.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Reset Your Password</h2>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Add New</strong>
                        </div>
                        <form method="post" class="form-horizontal">
                            <div asp-validation-summary="All"></div>
                            <input type="hidden" asp-for="Token" />

                            <div class="card-body card-block">

                                <div class="row form-group py-5">
                                    <div class="col col-sm-2">
                                        <label asp-for="UserName" class=" form-control-label">Email</label>
                                    </div>
                                    <div class="col col-sm-10">
                                        <input asp-for="UserName" class="input-lg form-control-lg form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row form-group py-5">
                                    <div class="col col-sm-2">
                                        <label asp-for="Password" class=" form-control-label">New password</label>
                                    </div>
                                    <div class="col col-sm-10">
                                        <input asp-for="Password" type="password" class="input-lg form-control-lg form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row form-group py-5">
                                    <div class="col col-sm-2">
                                        <label asp-for="ConfirmPassword" class=" form-control-label">Confirm</label>
                                    </div>
                                    <div class="col col-sm-10">
                                        <input asp-for="ConfirmPassword" type="password" class="input-lg form-control-lg form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="fa fa-check"></i> Reset password
                                </button>
                            </div>
                        </form>
                        <div class="text-success">
                            <p>
                                @ViewBag.Message
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <partial name="Layout/_Copyright" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->